auto-save-list/
.python-environments/
session*
tramp
kkcrc
recentf*
.mc-lists.el
elpa/
transient/
projectile-bookmarks.eld
irony/
ac-comphist.dat
eshell/
.tern-config
bookmarks
emacs-emoji-cheat-sheet-plus/
flycheck-init.el
.lsp-session-*
flycheck*
projects
elpy/
*.elc